
html, body {
    margin: 0;
    padding: 0;
    background: #ff8000;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header a {
    font-size: 20px;
    font-weight: bold;
    color: #f9f9f9;
}

header a:hover {
    color: white;
}

section {
    background: #00ff00;
    margin: 0 20px;
    padding: 12px 20px;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

pre {
    color: #ccc;
    padding: 36px;
}

pre a {
    color: #ccc;
}

pre a:hover {
    color: #f9f9f9;
}

input {
    padding: 5px;
}

.countrybox {
    /*display: flex;*/
}

.countrybox__title {
    display: flex;
    align-items: center
}

.countrybox__title h1 {
    margin-right: 15px;
}

.countrybox__airports {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.airportbox {
    margin: 15px;
}

