<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="include/layout">
<head>
    <title>Airport Stats</title>
</head>
<body>
<section th:fragment="content">
    <h3>Top 10 countries in airport count:</h3>
    <ul>
        <li th:each="country : ${highestAirports}" th:text="${country.name}"></li>
    </ul>
    <h3>Lowest 10 countries in airport count:</h3>
    <ul>
        <li th:each="country : ${lowestAirports}" th:text="${country.name}"></li>
    </ul>
</section>
</body>
</html>