<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="include/layout">
<head>
    <title>Airport Query</title>
</head>
<body>
<section th:fragment="content">
    <div th:if="${country != null}" class="countrybox">
        <div class="countrybox__title">
            <h1 th:text="${country.name}"></h1>
            (<span th:text="${country.code}"></span>)
        </div>
        <h3>Airports:</h3>
        <div class="countrybox__airports">
            <div class="airportbox" th:each="airport : ${country.airports}">
                <h3 th:text="${airport.name}"></h3>
                <p>Runways:</p>
                <ul>
                    <li th:each="runway : ${airport.runways}">
                        <span th:text="${runway.identification}"></span>
                        &nbsp;--&nbsp;
                        <span th:text="${runway.surface}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:if="${country == null}">
        <h1>We found nothing :(</h1>
    </div>
</section>
</body>
</html>