
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="include/layout">
<head>
    <title>Runway Identification Stats</title>
</head>
<body>
<section th:fragment="content">
    <h3>The top runway identifications!</h3>
    <ul>
        <li th:each="stat : ${statistics}">
            <span th:text="${stat.identification}"></span>
            &nbsp;--&nbsp;
            <span th:text="${stat.count}"></span>
        </li>
    </ul>
</section>
</body>
</html>