

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="include/layout">
<head>
    <title>Airport Stats</title>
</head>
<body>
<section th:fragment="content">
    <h3>Surface stats for every country!</h3>
    <p>This should be paginated...</p>
    <div class="countrybox__airports">
        <div class="airportbox" th:each="stat : ${statistics}">
            <p th:text="${stat.country.name}"></p>
            <ul>
                <li th:each="type : ${stat.surfaceTypeStats}">
                    <span th:text="${type.surface}"></span>
                    &nbsp;--&nbsp;
                    <span th:text="${type.count}"></span>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>