<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:fragment="include/layout">
<head>
    <meta charset="utf-8"/>

    <title>Layout Page</title>

    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="/">Airport Demo Application</a>
    <form action="/query/" method="get">
        <input type="text" name="q" th:value="${searchTerm}" placeholder="Country name/code..."/>
        <input type="submit" value="Search"/>
    </form>
    <a href="/report/airport">Airport Statistics</a>
    <a href="/report/surface">Surface Statistics</a>
    <a href="/report/runway">Runway Statistics</a>
</header>
<section th:replace="this :: content">
    <p>Page content goes here</p>
</section>

</body>
</html>